

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.btn{
    background-color:  rgb(138, 202, 236);
    border:none;
    border-radius: 15px;
    padding:10px 20px;
    font-size:24px;
    color:white;
    cursor:pointer;
}

.btn:hover{
    background-color: rgb(86, 133, 158);
    transition-duration: 1s;
    transition-timing-function: background-color;
}

#info_request_header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 212, 239);
}

.bad_request{
    color:white;
    background-color: rgb(246, 99, 99);
    font-size: 24px;
    padding: 10px 30px;
}

.greet_request{
    color: white;
    background-color: rgb(109, 239, 109);
    font-size: 24px;
    padding: 10px 30px;
}

.info{
    background-color: white;
    width: 800px;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question_div{
    background-color: rgb(170, 212, 239);
    width: 100%;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-info{
    margin-top: 10px;
    width: 90%;
    height: 50px;
    border:none;
    background-color: rgb(247, 247, 247);
    font-size:32px;
    color:rgb(56, 56, 250);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}